@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-background {
  background-image: url("/nikhil-shetty-p5_XIonZdLc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
